<div class="container-fluid">
    
    <div class="row" style="margin-top:20px">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" #filtro class="form-control" placeholder="Pesquise o paciente pelo nº do cartão SUS">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" (click)="this.filtrarPaciente(filtro.value)">Pesquisar</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Número do Cartão SUS</th>
                                <th>Nome do Paciente</th>
                                <th>Data de Nascimento</th>
                                <th>CPF</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr>
                                <td>{{pacienteFiltrado.cadastroSUS}}</td>
                                <td>{{pacienteFiltrado.nome}}</td>
                                <td>{{pacienteFiltrado.dataNascimento}}</td>
                                <td>{{pacienteFiltrado.cpf}}</td>
                                <td><a [routerLink]="['consultas', {'paramKey': pacienteFiltrado.id}]"><button class="btn ti-arrow-right" (click)="this.goToPaciente"></button></a></td>
                            </tr>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>